---
### General settings

# OSBS-Box repository and version (branch, tag or commit ID)
# Used by openshift when building images
osbs_box_repo: https://github.com/containerbuildsystem/osbs-box
osbs_box_version: master

# Directory for keeping miscellanous osbs-box data
osbs_box_data_dir: "{{ ansible_env.HOME }}/.local/share/osbs-box"

# URL of the host running OSBS-Box, see https://nip.io/.
# External routes for OSBS-Box components will use the following scheme:
#   <name of service>.$osbs_box_host
# NOTE:
#   You *can* use localhost here if you are using OSBS-Box locally, however,
#   doing so will make external URLs unreachable from inside containers.
osbs_box_host: "{{ ansible_default_ipv4.address }}.nip.io"


### Openshift settings

# URL of your openshift cluster, needs to be reachable from inside containers
openshift_url: "https://{{ ansible_default_ipv4.address }}:8443"

# Openshift user that will be used to trigger builds (does not have to exist)
# This user will be given cluster-admin privileges
openshift_user: osbs
openshift_password: osbs

# Namespaces for various OSBS-Box pieces
koji_namespace: osbs-koji
orchestrator_namespace: osbs-orchestrator
worker_namespace: osbs-worker
registry_namespace: osbs-registry
cachito_namespace: osbs-cachito


### Repositories and versions for OSBS components
atomic_reactor_repo: https://github.com/containerbuildsystem/atomic-reactor
atomic_reactor_version: master

osbs_client_repo: https://github.com/containerbuildsystem/osbs-client
osbs_client_version: master

koji_containerbuild_repo: https://github.com/containerbuildsystem/koji-containerbuild
koji_containerbuild_version: master

dockerfile_parse_repo: https://github.com/containerbuildsystem/dockerfile-parse
dockerfile_parse_version: master

dockpulp_repo: https://github.com/release-engineering/dockpulp
dockpulp_version: master

cachito_repo: https://github.com/release-engineering/cachito
cachito_version: master

### Data directories

# Directory for openshift files (templates, params, configs)
openshift_files: "{{ osbs_box_data_dir }}/openshift"

# Directories for certificates created by OSBS-Box
certificates_dir: "{{ osbs_box_data_dir }}/certificates"
koji_certs_dir: "{{ certificates_dir }}/koji"
registry_certs_dir: "{{ certificates_dir }}/registry"
cachito_certs_dir: "{{ certificates_dir }}/cachito"

# Directories that will serve as the backing storage for persistent volumes
koji_files_dir: "{{ osbs_box_data_dir }}/pv/koji-files"
koji_db_data_dir: "{{ osbs_box_data_dir }}/pv/koji-db-data"
registry_data_dir: "{{ osbs_box_data_dir }}/pv/registry-data"
cachito_archives_dir: "{{ osbs_box_data_dir }}/pv/cachito-archives"
cachito_athens_dir: "{{ osbs_box_data_dir }}/pv/cachito-athens-storage"

docker_id: mylogin
docker_password: password-me
docker_email: foo@bar.com
