OSBS_BOX_REPO="{{ osbs_box_repo }}"
OSBS_BOX_VERSION="{{ osbs_box_version }}"

OSBS_BOX_HOST="{{ osbs_box_host }}"

KOJI_FILES_DIR="{{ koji_files_dir }}"
KOJI_DB_DATA_DIR="{{ koji_db_data_dir }}"
REGISTRY_DATA_DIR="{{ registry_data_dir }}"

CACHITO_ARCHIVES_DIR="{{ cachito_archives_dir }}"
CACHITO_ATHENS_DIR="{{ cachito_athens_dir }}"

PY_VER="{{ buildroot_python_version }}"

ATOMIC_REACTOR_PIP_REF="git+{{ atomic_reactor_repo }}@{{ atomic_reactor_version }}"
OSBS_CLIENT_PIP_REF="git+{{ osbs_client_repo }}@{{ osbs_client_version }}"
KOJI_CONTAINERBUILD_PIP_REF="git+{{ koji_containerbuild_repo }}@{{ koji_containerbuild_version }}"
DOCKERFILE_PARSE_PIP_REF="git+{{ dockerfile_parse_repo }}@{{ dockerfile_parse_version }}"
DOCKPULP_PIP_REF="git+{{ dockpulp_repo }}@{{ dockpulp_version }}"
CACHITO_PIP_REF="git+{{ cachito_repo }}@{{ cachito_version }}"
