CACHITO_BUNDLES_DIR = '/var/lib/cachito-archives/bundles'
SQLALCHEMY_DATABASE_URI = "postgresql+psycopg2://koji:mypassword@koji-db.osbs-koji:5432/cachito"
CACHITO_USER_REPRESENTATIVES = ['CN=kojiosbs']
CACHITO_LOG_LEVEL = "DEBUG"
LOGIN_DISABLED = True
