CACHITO_BUNDLES_DIR = '/var/lib/cachito-archives/bundles'
SQLALCHEMY_DATABASE_URI = "postgresql+psycopg2://koji:mypassword@koji-db.{{ koji_namespace }}:5432/cachito"
CACHITO_USER_REPRESENTATIVES = ['CN=kojiosbs']
CACHITO_LOG_LEVEL = "DEBUG"
CACHITO_WORKER_USERNAMES = ['CN=cachito-worker']
