broker_connection_max_retries = 5
broker_url = "amqp://cachito:cachito@cachito-rabbitmq.{{ cachito_namespace }}:5672"
broker_use_ssl = False
cachito_bundles_dir = '/var/lib/cachito-archives/bundles'
cachito_sources_dir = '/var/lib/cachito-archives/sources'
cachito_log_level = 'DEBUG'
worker_enable_remote_control = False
cachito_api_url = 'https://cachito-api.{{ cachito_namespace }}/api/v1/'
cachito_athens_url = 'http://cachito-athens.{{ cachito_namespace }}:3000'
cachito_auth_type = 'cert'
cachito_auth_cert = '/etc/pki/cachito/cachito-worker.pem'
