[general]
build_json_dir = /usr/share/osbs/

[worker]
openshift_url = {{ openshift_url }}
namespace = {{ worker_namespace }}
use_auth = true
use_kerberos = false
verify_ssl = false
username = {{ openshift_user }}
password = {{ openshift_password }}
