KOJI_FILES_DIR="{{ koji_files_dir }}"
KOJI_DB_DATA_DIR="{{ koji_db_data_dir }}"

OSBS_BOX_REPO="{{ osbs_box_repo }}"
OSBS_BOX_VERSION="{{ osbs_box_version }}"

OSBS_CLIENT_PIP_REF="git+{{ osbs_client_repo }}@{{ osbs_client_version }}"
KOJI_CONTAINERBUILD_PIP_REF="git+{{ koji_containerbuild_repo }}@{{ koji_containerbuild_version }}"
